<h1>Listing games</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Color</th>
    <th>Board</th>
    <th>Playerone</th>
    <th>Playertwo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td><%= game.id %></td>
    <td><%= game.name %></td>
    <td><%= game.color %></td>
    <td><%= game.board %></td>
    <td><%= game.playerone %></td>
    <td><%= game.playertwo %></td>
    <td><%= link_to 'Show', game %></td>
    <td><%= link_to 'Edit', edit_game_path(game) %></td>
    <td><%= link_to 'Destroy', game, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Game', new_game_path %>
