<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @game.id %>
</p>

<p>
  <b>Name:</b>
  <%= @game.name %>
</p>

<p>
  <b>Color:</b>
  <%= @game.color %>
</p>

<p>
  <b>Board:</b>
  <table>
        <tr>
            <% (1..7).to_a.each do |header| %>
            <th><%=button_to header, :action => "droppiece", :column => header - 1,  :player => 2 %></th>
            <% end %>
        </tr>
  	<% @game.board.each do | row |  %>
  	<tr>
	   <% row.each do | column | %>
           <td><%= column %></td>
           <% end %>
        </tr>
        <% end %>
  </table>
</p>

<p>
  <b>Playerone:</b>
  <%= @game.playerone %>
  <%= @game.ponesession %>
</p>

<p>
  <b>Playertwo:</b>
  <%= @game.playertwo %>
  <%= @game.ptwosession %>
</p>


<%= link_to 'Join', join_game_path(@game) %> |
<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
