<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @game.id %>
</p>

<p>
  <b>Name:</b>
  <%= @game.name %>
</p>

<p>
  <b>Color:</b>
  <%= @game.color %>
</p>

<p>
  <b>Board:</b>
  <%= @game.board %>
</p>

<p>
  <b>Playerone:</b>
  <%= @game.playerone %>
</p>

<p>
  <b>Playertwo:</b>
  <%= @game.playertwo %>
</p>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
