<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @game.id %>
</p>

<p>
  <b>Name:</b>
  <%= @game.name %>
</p>

<p>
  <b>Color:</b>
  <%= @game.color %>
</p>

<p>
  <b>Board:</b>
  <table>
        <tr>
            <th class="col1Button">
               <%=button_to_function "1", "alert('Hello world!')", :class => "col2Button"%>
            </th>
            <th class="col2Button">
               <%=button_to_function "2", "alert('Hello world!')", :class => "col2Button"%>
            </th>
            <th class="col3Button">
               <%=button_to_function "3", "alert('Hello world!')", :class => "col2Button"%>
            </th>
            <th class="col4Button">
               <%=button_to_function "4", "alert('Hello world!')", :class => "col2Button"%>
            </th>
            <th class="col5Button">
               <%=button_to_function "5", "alert('Hello world!')", :class => "col2Button"%>
            </th>
            <th class="col6Button">
               <%=button_to_function "6", "alert('Hello world!')", :class => "col2Button"%>
            </th>
            <th class="col7Button">
               <%=button_to_function "7", "alert('Hello world!')", :class => "col2Button"%>
            </th>
        </tr>
  	<% @game.board.each do | row |  %>
  	<tr>
	   <% row.each do | column | %>
           <td><%= column %></td>
           <% end %>
        </tr>
        <% end %>
  </table>
</p>

<p>
  <b>Playerone:</b>
  <%= @game.playerone %>
</p>

<p>
  <b>Playertwo:</b>
  <%= @game.playertwo %>
</p>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
